body {
    background-color: black;
}

.BuyButton {
    position: relative;
    background-color: silver;
}

.SellButton {
    position: relative;
    background-color: rgb(255, 0, 0);
}

table {
    width: 100%;
    background-color: #df8106;
}

.bulkClass {
    left: 200px;
}

caption {
    text-align:center;
}

td, th {
    border-style: solid;
    border-color: #df8106;
    background-color: white;
}

th {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: left;
}

h1 {
    border-width: 1px;
    color: white;
}